<ul>
	<span><%# link_to @article.user.name, @article.user %></span>
	<% @articles.each do |article| %>
		
		<li><strong><%= article.title %></strong></li> &nbsp;
		
		<%= truncate(article.content.html_safe, length: 150) { link_to "Continue", user_article_path(article.title) } %>

		<small class="timestamp">
	    	| Posted <%= time_ago_in_words(article.created_at) %> ago.
	    	<%# link_to "show full article", article_path(article) %>  
	    	<% if can? :destroy, article %>
	    		| <%= link_to "delete", destroy_article_path(article), method: :delete, data: { confirm: "Sure ?" } %>
	    	<% end -%>
	  	</small>
	  	<br>
	  	<hr />
	  	<br>
	<% end -%>
</ul>