<ul>
	<span><%# link_to @article.user.name, @article.user %></span>
	<% @articles.each do |article| %>
		
		<strong><%= article.title %></strong> 
		
		<%= article.content %>

		<span class="timestamp">
	    	Posted <%= time_ago_in_words(article.created_at) %> ago.
	    	<%= link_to "delete", article, method: :delete, data: { confirm: "Sure ?" } %>
	  	</span>
	  	<br>
	  	
	<% end -%>
</ul>