<% if user_signed_in? %>
	<% if feed_render %>
		<ul class="list">
			<%# render @feed_items %>
			<% feed_render.each do |feed| %>
					<h4><%= link_to feed, user_article_path(feed) %></h4><hr>
			<% end -%>
		</ul>
		<%# will_paginate @feed_items %>
	<% end -%>
<% else %>

<% end -%>