<% if user_signed_in? %>
	<% if user_render %>
		<ul class="row">
			<div class="panel-body">
				<% user_render.each do |user| %>
					<% if user.name != current_user.name %>
						<% if user.avatar? %>
							<%= image_tag user.avatar.url(:thumb), { size: '50', class: 'img-rounded' } %>
						<% else %>
							<%= image_tag "i-am-a-programmer-i-write-code.png" , { size: '50', class: 'img-rounded' } %>
						<% end -%>
						<%= link_to user.name, user_profile_path(user.username) %><hr>
					<% end -%>
				<% end -%>
			</div>
		</ul>
		<%# will_paginate @may_know_user %>
	<% end -%>
<% else %>

<% end -%>