<% if user_signed_in? %> 
	<br><br>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			  <div class="jumbotron well">
			  	Recent: 
			  	<%= render 'home/feed' %>
			  </div>
		</div>

		<div class="col-md-4">
			  <div class="jumbotron well">
			  	<%# @users.each do |user| %>
			  		<%# link_to user.name, user_profile_path(user.username) %><br>
			  	<%# end -%>
			  	<%= render 'home/user_may_know' %>
			  </div>
		</div>	
	</div>
</div>

<%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
<% else %>

<h1>Home Page Without Signed IN</h1>
<% end %>