<hr />
<div class="row">
	<div class="col-md-4"></div>
  	<div class="col-md-4">
  		<form >
		Message:  <input type="text" name="user_id" /><br />
		<input type="submit" name="submit" value="Submit" />
		</form>
  	</div>
  	<div class="col-md-4"></div>
</div>